* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  
  body {
    font-family: 'Quicksand';
    color: #7f8c8d;
    font-size: 14px;
    background-color: #ededed; }
  
  .bubble-container {
    width: 75%;
    display: block;
    position: relative;
    padding-left: 20px;
    vertical-align: top;
    display: inline-block; }
  
  .timeline {
    width: 560px;
    display: block;
    margin: auto;
    background-color: #dde1e2;
    padding-bottom: 2em;
    -webkit-box-shadow: #bdc3c7 0 5px 5px;
    -moz-box-shadow: #bdc3c7 0 5px 5px;
    box-shadow: #bdc3c7 0 5px 5px;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom: 2em; }
    .timeline li {
      padding: 1em 0; 
      text-decoration: none;
    }
    .timeline li:nth-child(even) {
      background-color: #d3d7d8; 
      text-decoration: none;
    }
  
  .avatar {
    width: 22%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    margin-top: 2%; 
}
    .avatar img {
      width: 100%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 10%;
      border: 5px solid #ecf0f1;
      position: relative; }
    
  
  .hover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #3498db;
    top: 0;
    font-size: 1.8em;
    border: 5px solid #5cc0ff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    color: white;
    padding-top: 24%;
    opacity: 0;
    font-family: 'FontAwesome';
    font-weight: 300;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease; }
  
  .first {
    width: 560px;
    display: block;
    margin: auto;
    background-color: #3498db;
    text-shadow: #2084c7 1px 1px 0;
    padding: 1em 0 !important;
    color: white;
    text-align: center;
    margin-top: 1em;
    font-family: "Lato";
    font-size: 1.6em;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top-right-radius: 8px;
    position: relative; }
  
  .icon-twitter {
    font-size: 1.5em; }
  
  .new {
    position: absolute;
    right: 5%; }
  
  
  h3 {
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Lato';
    display: inline-block;
    margin-bottom: .2em;
    color: #95a5a6; }

ul{
    list-style: none;
}
  
  